<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="wrapper">
      <h1><%= htmlWebpackPlugin.options.title %></h1>
      <div class="container">
        <div id="overlay">
          <p>Loading Model...</p>
        </div>
        <video
          id="video"
          width="256"
          height="256"
          controls="false"
          autoplay
        ></video>
        <canvas id="canvas" width="1024" height="512"></canvas>
      </div>
      <div id="buttons">
        <button type="button" class="no-click">Init Webcam</button>
        <button type="button" class="pressed no-click">Stop Webcam</button>
        <button type="button" class="no-click">Step</button>
        <button type="button" class="no-click">Play</button>
        <button type="button" class="no-click">Stats</button>
      </div>
      <table class="hide">
        <tr>
          <th>Step (ms)</th>
          <th>Average (ms)</th>
          <th>FPS</th>
        </tr>
        <tr>
          <td id="step_time">-</td>
          <td id="avg_time">-</td>
          <td id="fps">-</td>
        </tr>
      </table>
      <div class="text">
        <p>
          Some text some text. Some text some text. Some text some text. Some
          text some text. Some text some text. Some text some text. Some text
          some text. Some text some text.
        </p>
      </div>
    </div>
  </body>
</html>
