@charset 'utf-8';
@import '_include-media';

html {
  box-sizing: border-box;
  font-family: sans-serif;
  * {
    padding: 0;
    margin: 0;
  }
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

p {
  line-height: 1.3rem;
}

.wrapper {
  display: grid;
  padding: 2rem 0;
  grid-template-columns:
    1fr
    min(65ch, 100%)
    1fr;
  * {
    grid-column: 2;
  }

  h1 {
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    grid-column: 1 / -1;

    @include media('>=phone', '<desktop') {
      flex-direction: column;
    }

    @include media('>=desktop') {
      flex-direction: row;
    }
  }
}
.buttons,
#upload {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;

  p {
    text-align: center;
    margin: auto 0.5rem;
  }
}
input[type='file'] {
  display: none;
}
button,
label {
  background-color: lightgrey;
  border: none;
  color: black;
  padding: 10px;
  margin: 0 0.2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  outline: none !important;

  &:hover {
    background-color: #00f;
  }
}

.pressed {
  background-color: grey;
}

.no-click {
  cursor: not-allowed;
}

.clickable {
  cursor: pointer;
}

video {
  display: none;
}

table {
  margin: 0.5rem 0;
  visibility: visible;
  opacity: 1;
  transition: 0.2s;
  td {
    text-align: center;
  }
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.text {
  display: block;
  margin: 1rem 0;
  * {
    margin: 1rem 0;
  }
}

.overlay {
  position: absolute;
  background-color: lightgrey;
  width: 1024px;
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  p {
    opacity: 1;
  }
}

.issues {
  background-color: #faa;
  border-radius: 5px;
  padding: 3px;
}

span {
  padding: 2px;
  border-radius: 2px;
}

#upload {
  visibility: visible;
  opactiy: 1;
  transition: 0.2s;

  label {
    font-family: 'fira sans';
    font-size: 14px;
  }
}

#progress_bar {
  margin: 10px 0;
  font-size: 14px;
  clear: both;
  opacity: 1;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  width: 30%;
  height: 30px;

  .loading {
    opacity: 0;
  }
  .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
  }
}
